{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <div class="main-content">
			{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
			<main class="page">
			    <section class="page-content">
			        <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
			        <p class="u-textAlignCenter">
			            {{lang 'page_not_found.message'}}
			        </p>

			        {{> components/common/search-box}}
			    </section>
			</main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
