<section class="recent-posts">
  <div class="recent-posts-header">
    <h1 class="recent-posts-title">{{blog.name}}</h1>
  </div>

  {{#each blog.recent_posts}}
    <article class="recent-post">
      <div class="recent-post-image"
           style="background-image: url({{getImage thumbnail 'medium' (cdn ../theme_settings.default-product-image)}})"
      ></div>
      <img class="sr-only"
           src="{{getImage thumbnail 'small' (cdn ../theme_settings.default-product-image)}}"
           alt="{{thumbnail.alt}}"
      />
      <div class="recent-post-info">
        <span class="recent-post-date">{{date_published}}</span>
        <h1 class="recent-post-title">{{title}}</h1>
        <p class="recent-post-summary">{{{summary}}}</p>
        <a href="{{url}}" class="reverse-link">
          {{lang 'blog.read_more'}}
          <svg class="recent-post-read-more-icon"
               title="{{lang 'blog.read_more'}}"
               role="img"
          >
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </article>
  {{/each}}

  <div class="button-blog-link">
    <a
      href="{{blog.url}}"
      class="button button-primary"
    >
      {{lang 'blog.link_text'}}
    </a>
  </div>
</section>
