{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <div id="footMenu">
            <ul>
                <li><a href="{{urls.account.index}}" title="My Account">My Account</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="/service/" title="Service">Service</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="{{urls.sitemap}}" title="Sitemap">Sitemap</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="/contact-us/" title="Contact Us">Contact Us</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="/testimonial/" title="Testimonial">Testimonial</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="{{urls.account.wishlists.all}}" title="View my wishlist">Wish List</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="/instructions/" title="Instructions">Instructions</a></li>
            </ul>
            <p>
                <span class="footer-left">
                    <span class="copyRight">Copright &copy; {{moment format="YYYY"}} <a href="{{urls.home}}" title="Home">{{settings.store_name}}</a>. All Rights Reserved.</span>
                </span>
            </p>                   
        </div>
        <div id="cc_logos">
            <span>We Accept:</span> 
            <img src="{{cdn 'assets/img/payments.png'}}" alt="We Accept: PayPal, Visa, Master Card, American Express, and Discover" height="25" width="245">
        </div>
    </div>
</footer>