{{#if links.length}}
  <div class="listing-pagination" data-listing-pagination>
    {{#if previous}}
      <a class="listing-pagination-link previous" href="{{previous}}">
        {{lang 'core.pagination.previous'}}
      </a>
    {{/if}}

    {{#each links}}
      <a class="listing-pagination-link {{#if ../current "==" number}}active{{/if}}" href="{{url}}">
        {{number}}
      </a>
    {{/each}}

    {{#if next}}
      <a class="listing-pagination-link next" href="{{next}}">
        {{lang 'core.pagination.next'}}
      </a>
    {{/if}}
  </div>
{{/if}}
