---
blog:
    recent_posts:
        limit: 5
        pages: 3
        summary: 500
---
{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <aside class="page-sidebar">
			<div class="recent-posts">
				<h2>Recent Posts</h2>
				<ul>
					{{#each blog.recent_posts}}
					<li><a href="{{url}}">&raquo; {{title}}</a></li>
					{{/each}}
				</ul>
			</div>
        </aside>
        <div class="main-content">
			{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
			{{> components/blog/post post=blog.post show_tags=true}}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
