---
brands:
---
{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <div class="main-content">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            <main class="page">
                <h1 class="page-heading">{{lang 'brand.label'}}</h1>
                <ul class="brandGrid">
                    {{#each brands}}
                        <li class="brand{{#unless image}} no-image{{/unless}}">
                            <article class="card {{#if alternate}}card--alternate{{/if}}">
                                {{#if image}}
                                <figure class="card-figure">
                                    <a href="{{url}}">
                                        <img class="card-image" src="{{getImage image 'brand_size' (cdn ../theme_settings.default_image_brand)}}" alt="{{name}}" title="{{name}}">
                                    </a>
                                </figure>
                                {{/if}}
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{url}}">{{name}}</a>
                                    </h4>
                                </div>
                            </article>
                        </li>
                    {{/each}}
                </ul>
                {{> components/common/paginator pagination.brands}}
            </main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
