---
cart: true
product:
  reviews:
      limit: {{theme_settings.product-reviews-count}}
  related_products:
      limit: 4
  videos: true
---

{{#partial "page"}}

  {{> components/breadcrumbs}}
  <div class="single-product" data-product-container>
    {{> components/product/images images=product.images}}
    {{> components/product/details}}

    {{#unless quick_shop}}
      {{> components/common/share-buttons share_heading=true
        share_buttons=settings.add_this url=(cdn product.url) title=product.title
        image=(getImage product.main_image 'full' (cdn theme_settings.default_image))
      }}
    {{/unless}}

    {{> components/product/tabs}}
    {{> components/product/products-related products=product.related_products}}
  </div>

  {{> core/structured-data/product}}
  {{> core/structured-data/product-reviews}}

{{/partial}}
{{> layout/base}}
