---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <div class="main-content">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            {{#each product.shipping_messages}}
                {{> components/common/alert-info message}}
            {{/each}}
            <div itemscope itemtype="http://schema.org/Product">
                {{> components/products/product-view schema=true}}
                {{#if product.videos.list.length}}
                    {{> components/products/videos product.videos}}
                {{/if}}
                {{#if settings.show_product_reviews}}
                    {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
                {{/if}}
                <div class="yotpo placeholder"></div>
                <script type="text/javascript">
                    //<![CDATA[
                    //var div = document.createElement("div");
                    var div = document.getElementsByClassName('placeholder')[0];
                    div.setAttribute('class', 'yotpo yotpo-main-widget');
                    div.setAttribute('data-product-id',"{{product.id}}");
                    div.setAttribute('data-name',"{{product.title}}");
                    div.setAttribute('data-url', document.URL);
                    div.setAttribute('data-description',"");
                    div.setAttribute('data-image-url', "{{product.main_image}}");
                    //document.getElementsByClassName('placeholder')[0].innerHTML = div.;
                    //]]>
                </script>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
