{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <div class="main-content">
			<section class="page">
			    <div class="page-content">
			        <h1 class="page-heading">{{lang 'newsletter.unsubscribed_heading'}}</h1>
			        {{> components/common/alert-success (lang 'newsletter.unsubscribed_message' store_name=settings.store_name)}}
			    </div>
			</section>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
