<section class="homepage-carousel {{theme_settings.carousel-aspect-ratio}}" data-homepage-carousel>
  {{#each carousel.slides}}
    <figure
      class="carousel-slide {{#or heading text button_text '!=' true}}carousel-slide-no-info{{/or}}"
      data-flickity-bg-lazyload="{{image}}" data-carousel-slide
    >
      {{#or heading text button_text}}
        <figcaption class="carousel-slide-info">
          {{#if heading}}
            <h1 class="carousel-slide-heading">{{{heading}}}</h1>
          {{/if}}
          {{#if text}}
            <p class="carousel-slide-subheading">{{{text}}}</p>
          {{/if}}
          {{#all url button_text}}
            <a href="{{url}}">
              <button class="button button-primary">{{{button_text}}}</button>
            </a>
          {{/all}}
        </figcaption>
      {{/or}}
      {{#unless button_text}}
        {{#if url}}
          <a class="carousel-slide-link" href="{{url}}"></a>
        {{/if}}
      {{/unless}}
      {{#if ../carousel.slides.length '>' 1}}
        <button class="carousel-slide-button carousel-slide-button-previous" type="button" data-carousel-slide-prev>
          <svg class="carousel-slide-icon carousel-slide-icon-prev" title="Previous carousel slide" role="img">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="carousel-slide-button carousel-slide-button-next" type="button" data-carousel-slide-next>
          <svg class="carousel-slide-icon carousel-slide-icon-next" title="Next carousel slide" role="img">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      {{/if}}
    </figure>
  {{/each}}
</section>
