<form class="form subscription-form" action="{{urls.subscribe.action}}" method="post">
  <input type="hidden" name="action" value="subscribe">
  <div class="form-field form-inline">
    <input class="visually-hidden" id="nl_first_name" name="nl_first_name" type="text" value="bc">
    <label class="show-for-sr" for="nl_email">
      {{lang 'common.newsletter.email'}}
    </label>
    <input
      class="form-input newsletter-input"
      id="nl_email"
      name="nl_email"
      type="email"
      value="{{customer.email}}"
      placeholder="{{lang 'common.newsletter.placeholder'}}"
    >
    <input type="hidden" name="check" value="1">
    <button class="button button-primary button-newsletter" type="submit">
      <svg class="newsletter-arrow" title="{{lang 'common.newsletter.heading'}}" role="img">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </button>
  </div>
</form>
