{{#partial "head"}}
    {{{stylesheet 'assets/css/maintenance.css'}}}
{{/partial}}
{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <div class="main-content">
		    <main>
		        <header>
		            <h1>{{lang 'maintenance.down'}}</h1>
		        </header>
		        <section><p>{{{settings.maintenance.message}}}</p></section>
		        <section></section>
		        <footer><small></small></footer>
		    </main>
        </div>
    </div>
{{/partial}}
{{> layout/empty}}
