{{#partial "page"}}
    <div class="main full">
        <aside class="page-sidebar">
            {{> components/common/sidebar}}
        </aside>
        <div class="main-content">
		    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
		    <h2 class="page-heading">{{lang 'account.addresses.heading' }}</h2>
		    {{> components/account/navigation account_page='addresses'}}
		    <div class="account">
		        <div class="account-body">
		            {{> components/account/address-list }}
		        </div>
		    </div>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
