{{!
  @param selected
         The currently selected filters, as supplied by stencil.
}}
{{#if selected.items.length}}
  <div class="filter-selected">
    <ul class="filter-selected-list">
      {{#each selected.items}}
        <li class="filter-selected-item" data-facet-item>
          <a class="filter-selected-item-link" href="{{url}}" data-faceted-search-facet>
            {{title}}
            <span class="filter-selected-item-icon">&times;</span>
          </a>
        </li>
      {{/each}}
    </ul>

    <a class="filter-reset button" href="{{selected.remove_all_url}}" data-faceted-search-facet>
      {{lang 'filter.clear_selection'}}
      <span class="filter-selected-item-icon">X</span>
    </a>
  </div>
{{/if}}
