{{!
  @param shop_by_brand
         The brand filters, as supplied by Stencil.
}}
<div class="filter filter-bybrand">
  <h2 class="sidebar-filter-title filter-title">{{lang 'filter.brand.title'}}</h2>

  <ul class="filter-list">
    {{#each (limit shop_by_brand 10)}}
      <li class="sidebar-filter-item filter-item">
        <a class="sidebar-filter-item-link filter-item-link" href="{{url}}">
          {{name}}
        </a>
      </li>
    {{/each}}
    {{#if shop_by_brand.length '>' 9}}
      <li class="sidebar-filter-item filter-item">
        <a class="sidebar-filter-item-link filter-item-link" href="{{urls.brands}}">
          {{lang 'filter.brand.view_all'}}
        </a>
      </li>
    {{/if}}
  </ul>
</div>
