<ul class="nav-list faceted-search-option-columns" data-additional-facets-list>
  {{#each facets}}
    {{#if facet '===' ../all_facets}}
      {{#each items}}
        <li class="nav-list-item sidebar-filter-item filter-item" data-facet-item>
          <a href="{{url}}"
          class="nav-ist-action {{#if selected}}is-active{{/if}} sidebar-filter-item-link filter-item-link"
          rel="nofollow"
          data-id="{{ id }}"
          data-faceted-search-facet>{{title}} ({{count}})</a></li>
      {{/each}}
    {{/if}}
  {{/each}}
</ul>
