<div
  class="search-content-listing"
  id="search-content-listing"
  data-tab-content
>
  {{#if content_results}}
    {{#each content_results}}
      <article class="search-content">
        <div class="search-content-type">{{type}}</div>
        <h1 class="search-content-title">{{title}}</h1>
        <div class="search-content-description">{{{content}}}</div>
        <a href="{{url}}" alt="{{title}}">{{lang 'search.results.more_link'}}</a>
      </article>
    {{/each}}
    {{> components/search/pagination type='content'}}
  {{else}}
    <div class="search-listing-no-results section-title">
      {{lang 'search.results.no_results'}}
    </div>
  {{/if}}
</div>
