{{#if product_results.selected.items.length}}
  <div class="filter-selected">
    <ul class="filter-selected-list">
      {{#each product_results.selected.items}}
        <li class="filter-selected-item" data-facet-item>
          <a class="filter-selected-item-link" href="{{url}}" data-faceted-search-facet>
            {{title}}
            <svg class="filter-selected-item-icon" title="Select filter" role="img">
              <use xlink:href="#icon-close"></use>
            </svg>
          </a>
        </li>
      {{/each}}
    </ul>

    <a class="filter-reset button" href="{{brand.selected.remove_all_url}}" data-faceted-search-facet>
      {{lang 'filter.clear_selection'}}
    </a>
  </div>
{{/if}}
