{{inject 'couponCodeEmptyInput' (lang 'cart.coupon_codes.error')}}

<div class="cart-coupon-codes" data-coupon-codes>
  <form class="form form-coupon-code" method="post" action="{{urls.cart}}" data-coupon-code-form>
    <input
      class="form-input"
      id="couponcode"
      type="text"
      name="couponcode"
      placeholder="{{lang 'cart.coupon_codes.enter_code'}}"
      data-coupon-code-input
    >
    <button class="button button-secondary button-coupon-code" type="submit">
      <span class="cart-button-text">{{lang 'cart.coupon_codes.submit'}}</span>
      <svg class="cart-button-arrow" title="{{lang 'cart.coupon_codes.submit'}}" role="img">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </button>
    <input type="hidden" name="action" value="applycoupon">
  </form>
</div>
