<footer class="minicart-footer">
  {{#if cart.discount.value "<" 0}}
    <div class="minicart-footer-row">
      <div class="minicart-footer-label">
        {{lang 'cart.minicart.discount'}}
      </div>
      <div class="minicart-footer-price">
        {{cart.discount.formatted}}
      </div>
    </div>
  {{/if}}

  <div class="minicart-footer-row">
    <div class="minicart-footer-label">{{lang 'cart.minicart.total'}}</div>
    <div class="minicart-footer-price">{{cart.sub_total.formatted}}</div>
  </div>

  <a href="{{urls.cart}}" class="button button-primary button-fullwidth button-minicart-viewcart"><span>{{lang 'cart.minicart.view_cart'}}</span></a>
  <a href="{{urls.checkout.single_address}}" class="button button-secondary button-fullwidth">{{lang 'cart.minicart.checkout'}}</a>
</footer>
