// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
	margin: 0 auto;
	max-width: remCalc(980);
	width: 98%;
}
