<div
  class="product-listing products-section-grid {{#if theme_settings.quick_view}}product-listing-quick-view{{/if}}"
  data-listing-container
  data-category-products
  {{#if category.show_compare}}data-product-compare{{/if}}
>

  {{#if category.products}}
    {{#each category.products}}
      {{> components/product/product-item
        settings=../theme_settings
        show_compare=../category.show_compare
        prefix="category"
      }}
    {{/each}}

    {{#for 1 3}}
      <div class="product-item product-item-empty"></div>
    {{/for}}

  {{else}}
    <div class="product-listing-empty">
      {{lang 'category.empty'}}
    </div>
  {{/if}}
</div>
