{{#any category.show_compare brand.show_compare product_results.show_compare}}
  <div class="compare-widget" data-compare-widget>
    <button class="button button-secondary compare-widget-button" data-compare-remove-all>
      <svg class="compare-widget-close" title="Cancel compare" role="img">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
    <div class="compare-title button primary-button">{{{lang 'compare.title' num=0}}}</div>
    <a
      class="button button-secondary compare-widget-button"
      href="{{urls.compare}}"
      data-compare-link="{{urls.compare}}"
    >
      <svg class="compare-widget-arrow" title="Compare products" role="img">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </a>
    <div data-compare-items>
      <!-- Compare items injected here -->
    </div>
  </div>
{{/any}}
