<section class="product-options">
  {{! container for appending product-option-change errors}}
  <div data-product-option-message></div>

  {{#if product.options}}
    <div data-product-option-change>
      {{#each product.options}}
        {{{dynamicComponent 'core/forms/options'}}}
      {{/each}}
    </div>
  {{/if}}

  {{#if product.customizations}}
    <div data-product-option-change>
      {{#each product.customizations}}
        {{{dynamicComponent 'core/forms/customizations'}}}
      {{/each}}
    </div>
  {{/if}}

  {{#if product.event_date}}
    {{> core/products/event}}
  {{/if}}
</section>
