<div>
  {{#if price.without_tax}}
    <span data-product-price-wrapper="without-tax">
      {{#if price.saved}}
        <span class="price-retail">{{price.rrp_without_tax.formatted}}</span>
      {{/if}}

      <span class="price {{#if price.saved}}price-with-retail{{/if}}"> {{price.without_tax.formatted}}</span>

      {{#if price.with_tax}}
        <span class="price-label"> {{lang 'product.excluding_tax'}}</span>
      {{/if}}
    </span>
  {{/if}}

  {{#if price.with_tax}}
    <div data-product-price-wrapper="with-tax">
      {{#if price.saved}}
        <span class="retail-price">{{price.rrp_with_tax.formatted}}</span>
      {{/if}}

      <span class="price {{#if price.saved}}price-with-retail{{/if}}"> {{price.with_tax.formatted}}</span>

      {{#if price.without_tax}}
        <span class="tax-label"> {{lang 'product.including_tax'}}</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if show_savings}}
    {{#if price.saved}}
      <span class="product-price-saved" data-product-price-saved>
        {{lang 'product.you_save'}} {{price.saved.formatted}}!
      </span>
    {{/if}}
  {{/if}}
</div>
