{{!
  Product listing item

  @param default_image
         The image to use if the product has no image assigned.
}}

<article
  class="product-item {{prefix}}-item {{#if out_of_stock_message}}product-item-sold-out{{/if}}"
  data-product-item
>
  {{#if out_of_stock_message}}
    {{#if prefix '!==' 'compare'}}
      <div class="product-item-tag {{prefix}}-item-tag tag-sold-out">{{out_of_stock_message}}</div>
    {{/if}}
  {{else}}
    {{#if price.saved}}
      <div class="product-item-tag {{prefix}}-item-tag tag-sale">{{lang 'core.product.sale'}}</div>
    {{/if}}
  {{/if}}

  <div class="product-item-image {{prefix}}-item-image aspect-{{settings.grid_aspect_ratio}}">
    <a href="{{url}}"
       title="{{name}}"
       style="background-image:url({{getImage image 'medium' (cdn settings.default_image)}});"
    >
      <img src="{{getImage image 'medium' (cdn settings.default_image)}}" alt="{{image.alt}}">
    </a>
  </div>

  <div class="product-item-details">
    {{#if prefix '===' 'compare'}}
      {{#if rating}}
        {{> components/reviews/ratings rating=rating}}
      {{/if}}
    {{/if}}

    {{#if show_compare}}
      <label class="product-item-compare {{prefix}}-item-compare">
        <input
          type="checkbox"
          class="form-input form-radio"
          data-compare-checkbox
          data-compare-id="{{id}}"
          data-compare-title="{{name}}"
          data-compare-url="{{url}}"
          data-compare-thumbnail="{{getImage image 'medium' (cdn settings.default_image)}}">
        <span class="form-label-text">{{lang 'core.product.compare'}}</span>
      </label>
    {{/if}}

    <h1 class="product-item-title {{prefix}}-item-title">
      <a href="{{url}}">{{name}}</a>
    </h1>

    <div class="product-item-price {{prefix}}-item-price">
      {{> components/product/price}}
    </div>

    {{#if show_cart_action}}
      {{#if has_options}}
        <a
          href="{{url}}"
          class="button button-primary button-cart-action"
          data-product-id="{{id}}"
        >
          {{lang 'product.choose_options'}}
        </a>
      {{/if}}
      {{#if pre_order}}
        <a href="{{url}}" class="button button-primary button-cart-action">{{lang 'product.pre_order'}}</a>
      {{/if}}
      {{#if add_to_cart_url}}
        <a href="{{add_to_cart_url}}" class="button button-primary button-cart-action">{{lang 'product.add_to_cart'}}</a>
      {{/if}}
    {{/if}}

    {{#if settings.quick_view}}
      <button
        class="button button-secondary button-quick-view"
        data-quick-view
        data-product-id="{{id}}"
      >
        {{lang 'product.quick_view'}}
      </button>
    {{/if}}
  </div>

  {{#if prefix '===' 'compare'}}
    <a href="{{remove_url}}" class="compare-item-remove">{{lang 'compare.remove'}}</a>
  {{/if}}
</article>
