
<section class="products-section products-related {{#if theme_settings.quick_view}}product-listing-quick-view{{/if}}">
  <h1 class="products-section-title products-related-title section-title">{{lang 'product.related_products'}}</h1>
  <div class="products-section-grid">
    {{#each products}}
      {{> components/product/product-item
        this
        prefix="products-related"
        settings=../theme_settings
      }}
    {{/each}}
    {{#for 1 3}}<div class="product-item product-item-empty"></div>{{/for}}
  </div>
</section>
