
<section class="products-section products-popular {{#if theme_settings.quick_view}}product-listing-quick-view{{/if}}">
  <h1 class="products-section-title products-popular-title section-title">{{lang 'home.popular_products'}}</h1>
  <div class="products-section-grid">
    {{#each products}}
      {{> components/product/product-item
        this
        prefix="products-popular"
        settings=../theme_settings
      }}
    {{/each}}
    {{#for 1 3}}<div class="product-item product-item-empty"></div>{{/for}}
  </div>
</section>
