{{#if social_media}}
  <nav class="social-nav">
    <ul class="social-nav-list">
      {{#each social_media}}
        <li class="social-link">
          <a href="{{url}}"
             class="{{display_name}}"
             target="_blank"
          >
            <svg class="icon-social"
                 title="{{display_name}}"
                 role="img"
            >
              <use xlink:href="#icon-{{display_name}}"></use>
            </svg>
          </a>
        </li>
      {{/each}}
    </ul>
  </nav>
{{/if}}
