<footer class="main-footer">
  <section class="footer-top container">
    {{> components/footer/list
        list_one=theme_settings.footer_list_one
        list_two=theme_settings.footer_list_two
    }}
    <div class="footer-newsletter-social">
      <h1 class="subscription-form-title">
        {{lang 'common.newsletter.heading'}}
      </h1>

      {{#if settings.show_newsletter_box}}
        {{> components/footer/newsletter}}
      {{/if}}

      {{> components/connect}}
    </div>
  </section>

  <section class="footer-bottom container">
    {{> components/footer/payment-icons}}
    {{#any theme_settings.footer_show_copyright theme_settings.footer_show_credits}}
      <div class="footer-credits-copyright">
        {{#if theme_settings.footer_show_copyright}}
          {{> components/footer/copyright}}
        {{/if}}
        {{#if theme_settings.footer_show_credits}}
          {{> components/footer/credits}}
        {{/if}}
      </div>
    {{/any}}
  </section>
</footer>
