<header class="main-header" role="banner">

  <div class="container">
    {{> components/header/nav-mobile-toggle}}
    {{> components/branding}}

    <div class="main-header-tools">
      {{> components/search-form}}
      <div class="quick-search" data-quick-search></div>
      {{> components/header/currency-selector}}
      {{> components/header/customer-links}}
      {{> components/header/minicart-toggle}}
    </div>
  </div>

</header>

<div class="quick-search-overlay" data-quick-search-overlay></div>
