<nav class="nav-category">
  <ul class="nav-menu">
    <li class="nav-menu-item" data-menu-item>
      <div class="nav-menu-item-top-row" data-nav-menu-item-row>
        <a href="#" class="nav-menu-item-link">
          {{lang 'nav.shop_link'}}
        </a>

        <button class="submenu-toggle" data-submenu-toggle>
          <svg class="submenu-toggle-icon" title="Display submenu" role="img">
            <use xlink:href="#icon-lazy-arrow"></use>
          </svg>
        </button>
      </div>
      <ul class="nav-submenu" data-submenu>
        {{#each categories}}
          {{> components/nav-category-item}}
        {{/each}}
      </ul>
    </li>
  </ul>
</nav>
