
<nav class="main-menu">
  <ul class="nav-menu">
    {{#each navigation}}
      <li class="nav-menu-item {{#if children}} menu-dropdown {{/if}}" >
        <a href="{{url}}">{{name}}</a>
        {{#if children}}
          <ul class="dropdown">
            {{#each children}}
              <li>
                <a href="{{url}}">{{name}}</a>
                {{#if children}}
                  <ul>
                    {{#each children}}
                      <li>
                        <a href="{{url}}">{{name}}</a>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>

