// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
}
.login-row {
    @include grid-row();
}
.login-form {
    @include grid-column(12);
    @include breakpoint("medium") {
        margin: remCalc(10) 0 0;
        width: 45%;
    }
}
.new-customer {
    @include grid-column(12);
    @include breakpoint("medium") {
        width: 55%;
    }
}
.new-customer-intro {
    margin-bottom: 0;
}
.new-customer-fact-list {
    margin-left: spacing("double");
}
.new-customer-fact {
    padding-left: spacing("half");
}