<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        <style type="text/css" media="screen, print">
            @font-face {
                font-family: "Montserrat";
                src: url("{{cdn 'webdav:Montserrat-Regular.ttf'}}");
            }
        </style>
        <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>
        <script type="text/javascript">
        (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/30hTgd8QUjRLd15eOMNCNjmq4WWy2FWDNDNQDRaG/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
        </script>
        {{{head.scripts}}}
        {{{head.rsslinks}}}
        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>
        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}
        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}
        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            // Exported in app.js
            window.stencilBootstrap("{{template}}", {{jsContext}}).load();
        </script>
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        <!-- BEGIN: _GUARANTEE Seal -->
        <span id="_GUARANTEE_SealSpan"></span>
        <img style="display:none;" src="//nsg.symantec.com/Web/Seal/AltSealInfo.aspx?S=Large&T=M&Elem=ImgTagSeal&HASH=O3A%2B1nFbvbihSlEBLsX3%2Brb3oCVgRPiIAoL%2F0s67cyKURPF2YZatYt2f13h6eP%2BISdJ2Q1Fzso%2Bh7D9hBgJLCg%3D%3D&CBF=AB&AB=1&DP=fn=;src=ImgTagSeal;grt=true" />
        <script type="text/javascript" src="//nsg.symantec.com/Web/Seal/gjs.aspx?SN=944499744"></script>
        <script type="text/javascript">
            if (window._GUARANTEE && _GUARANTEE.Loaded) {
                _GUARANTEE.Hash = "O3A%2B1nFbvbihSlEBLsX3%2Brb3oCVgRPiIAoL%2F0s67cyKURPF2YZatYt2f13h6eP%2BISdJ2Q1Fzso%2Bh7D9hBgJLCg%3D%3D";
                _GUARANTEE.WriteSeal("_GUARANTEE_SealSpan", "GuaranteedSeal");
            }
        </script>
        <!-- END: _GUARANTEE Seal -->
    </body>
</html>
